.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

button > * {
    pointer-events: none;
}

.datepicker td, th {
    text-align: center !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
}

.hidden {
    display: none;
}